@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto:wght@300;400;500&display=swap");
/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top {
  -webkit-backface-visibility: hidden;
}

/*--- Fixed Landing Page Section --*/
.landing {
  position: relative;
  width: 100%;
  height: 60vh;
  display: table;
  z-index: -1;
  margin-top: 5rem;
}

.img-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}

.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- iOS Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}

.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #241F1E;
  color: #ffffff;
}

/*---navigation---*/
.navbar {
  text-transform: uppercase;
  font-weight: 300;
  font-size: .8rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand img {
  height: 3rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

a.nav-link:hover {
  border-bottom: 1px solid #C60117;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #C60117;
}

/* landing page */
.home-inner {
  background-image: url("../Assets/HeroBannerImage.jpg");
}

.graylayer {
  background: grey;
  color: white;
  width: 100%;
  height: 100%;
  opacity: .4;
  position: absolute;
}

.center-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caption {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 35%;
  z-index: white;
  text-transform: uppercase;
}

.caption img {
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem #241F1E;
  padding-bottom: 1.3rem;
}

.caption h3 {
  font-size: 2rem;
  font-weight: 300;
  -webkit-font-kerning: 50;
          font-kerning: 50;
  text-shadow: .1rem .1rem .5rem #241F1E;
  padding-bottom: 1.6rem;
}

#banner {
  background: #883636 !important;
}

.textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-text .info-text img {
  width: 100%;
  height: auto;
}

.img-text .info-text h5 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.25);
}

.img-text .info-text p {
  font-size: 16px;
  margin-top: 70px;
  font-weight: 300;
}

.img-text .info-text .textbox h2 {
  font-size: 65;
  font-weight: 300;
  border-bottom: 2px solid #b4b4b4;
}

.jumbotron.light {
  background-color: #dfdfdf;
  border-radius: 0;
  margin: 1rem 0;
}

.jumbotron.dark {
  background-color: #241f1e;
  color: white;
  border-radius: 0;
  margin: 1rem 0;
}

.jumbotron.footer {
  background-color: #141414;
  border-radius: 0;
  margin: 1rem 0;
  color: white;
}

.card {
  border-radius: 1;
}

.dark-text {
  color: #241f1e;
}

.dark-mode .textbox h2 {
  border-bottom: 2px solid #241f1e !important;
}

.main-text h1 {
  font-weight: 400;
  border-bottom: 2px solid #707070;
}

#banner-img {
  background: url(../Assets/TeamImgResizepng.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}
/*# sourceMappingURL=indexstyle.css.map */